
# Directories
node_modules/
dist/

# Files
.DS_Store


# TypeScript
*.tsbuildinfo
*.ts

# Yarn
yarn-error.log
yarn.lock
.pnp.*

# Dependency directories
/jspm_packages/
/bower_components/

Dockerfile
docker-compose.yml
